.cartq {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-containerq {
  text-align: center;
}

.cart-imageq {
  background: rgb(227, 227, 227);
  margin-bottom: 20px;
  opacity: 0.8;
}

.cartq h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000;
}

.cartq p {
  color: #777;
  margin-bottom: 20px;
}

.cart-btnq {
  background: black;
  color: white;
  border: none;
  padding: 15px 60px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.cart-btnq:hover {
  opacity: 0.8;
}