.header {
  display: flex;
  justify-content: flex-start ;
  align-items: baseline;
  padding: 15px 8px;
  gap: 20px;
}

.logo {
  font-weight: bold;
  gap: 20px;
  width: 105px;
  height:50px ;
  font-weight: 700;
 
}

.header__center {
width: 255px;
height: 21px;

}

.select {
  padding: 1px;
  border: none;
  height: 30px;
  font-size: 19px;
  background: rgb(227, 225, 225);
}

.header__right {
  display: flex;
  gap: 20px;
  margin-left:auto;
}

.icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: orange;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}


.phone-select {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  width: 250px;
}

.dropdown {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  margin-top: 5px;
  width: 255px;
  height: 512px;
  border-top-left-radius:0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 25px;
  
}
.active{
      color: orange;
}

.dropdown p {
  margin: 5px 0;
  cursor: pointer;
  font-size: 21px;
}

.dropdown p:hover {
  background: #f3f3f3;
}

.dropdown-Apple {
  background: white;
  padding: 10px;
}
