.catalog {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.item {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.item > .favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}


.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.item-image img {
  width: 170px;
}


.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.item-price {
  color: orange;
  font-weight: bold;
}

.item-rating {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #ffb800;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  padding: 25px 40px;
  margin-top: 40px;

  border-radius: 20px 20px 0 0;
}


.bottom-logo {
  font-size: 22px;
  font-weight: 700;
}


.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottom-links p {
  margin: 0;
  cursor: pointer;
}


.bottom-service {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service-title {
  margin: 0;
}


.bottom-lang {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.bottom-lang span {
  cursor: pointer;
}

.bottom-lang .active {
  color: orange;
  font-weight: 600;
}


.bottom-social {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.bottom-social svg {
  cursor: pointer;
  transition: 0.2s;
}

.bottom-social svg:hover {
  opacity: 0.7;
}

.qq1 {
 margin: 20px;
  color: rgb(143, 143, 143)
}